.title {
  color: #eceff4;
  font-size: 5vh;
  font-weight: 700;
  text-transform: uppercase;
  word-break: normal;
  word-spacing: 0.5vw;
  margin-bottom: 1vh;
}

@media screen and (max-width: 500px) {
  .title {
    text-align: center;
    font-size: 3vh;
  }
}
