.item {
    color: red;
    font-size: 0.9rem;
    font-weight: 600;
    word-spacing: 18px;
}

@media screen and (max-width: 500px) {
    .item {
        text-align: right;
        word-spacing: 0;
    }
}
