.desktop {
    position: fixed;
    margin-top: 24px;
    left: 0;
    top: 0;
    width: 100%;
    height: 56px;
    padding: 0;
    background: #00000000;
    z-index: 50;
}

.desktop h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 2.2rem;
    line-height: 56px;
    font-weight: 600;
    color: #fff;
}

.mobile {
    position: fixed;
    margin-top: 24px;
    left: 0;
    top: 0;
    width: 100%;
    height: 56px;
    padding: 0;
    background: #00000000;
    z-index: 50;
}

.mobile h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 2.2rem;
    line-height: 56px;
    font-weight: 600;
    color: #fff;
}
