* {
    margin: 0;
    padding: 0;
}

.backdrop {
    filter: blur(8px) grayscale(0.2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: fill;
    z-index: 0;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
}
